DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DB_NAME=natsukashii
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST_USER=natsukashii.traditional@gmail.com
EMAIL_HOST_PASSWORD=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
